<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <logger name="play" level="INFO"/>
    <logger name="application" level="debug"/>
    <logger name="controllers" level="debug"/>
    <logger name="daos" level="debug"/>

    <logger name="access" level="DEBUG" additivity="false"/>

    <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
    <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF"/>
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>

    <!-- Begin SYSLOG Settings -->
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <facility>USER</facility>
        <suffixPattern>MAILCHIMP: %date |%5.-5level| [%50.50thread] %logger.%method - %message%n%xException
        </suffixPattern>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SYSLOG"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <root level="WARN">
        <appender-ref ref="SYSLOG"/>
    </root>
    <!-- End SYSLOG Settings -->

    <!-- Begin LOGENTRIES Setting -->
    <!-- <appender name="LE" class="com.logentries.logback.LogentriesAppender"> -->
    <!-- <param name="Token" value="changeme"/> -->
    <!-- <param name="Ssl" value="false"/> -->
    <!-- <param name="facility" value="USER"/> -->
    <!-- <encoder> -->
    <!-- <pattern>MAILCHIMP: %date |%5.-5level| [%50.50thread] %logger.%method - %message%n%xException</pattern> -->
    <!-- </encoder> -->
    <!-- </appender> -->

    <!-- <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender"> -->
    <!-- <appender-ref ref="LE" /> -->
    <!-- <includeCallerData>true</includeCallerData> -->
    <!-- </appender> -->

    <!-- <root level="INFO"> -->
    <!-- <appender-ref ref="ASYNC"/> -->
    <!-- </root> -->
    <!-- End LOGENTRIES Settings -->

</configuration>
