@(mailingLists: List[MailingList], id: String, confirm: String)

@main(title = "Approval Listing") {

<div class="ui grid">

    <div class="sixteen wide column"></div>
    <div class="three wide column"></div>
    <div class="ten wide column">
        <form class="ui form" action="/save" method="post">
            <h4 class="ui dividing header">Select New Subscriber's List</h4>

            <input type="hidden" name="name" id="name">
            <input type="hidden" name="id" id="id">
            <input type="hidden" name="confirm" id="confirm" value="@(confirm)">

            <div class="field">
                <label>Mailing Lists</label>
                <select id="selectbasic" name="selectbasic" class="ui dropdown">
                    @for(sub <- mailingLists) {
                    <option value="@(sub.getId())"
                            name="@(sub.getName())"
                            @if(id.equals(sub.getId())){
                            selected='selected'
                            }>@(sub.getName())
                    </option>
                    }
                </select>
            </div>

            <button id="submit" name="submit" class="ui primary button">Submit</button>
            <button id="cancel" name="cancel" class="ui button">Cancel</button>
        </form>
    </div>
    <div class="three wide column"></div>
</div>

}
